body{font-family:Arial;margin:0}
.center{text-align:center;padding-top:100px}

.header{
 position:fixed;top:0;left:0;right:0;height:60px;
 background:#eee;display:flex;justify-content:space-between;
 align-items:center;padding:0 15px;
}

.timer{color:green;font-weight:bold}

.content{margin-top:70px;padding:15px}

.two-col{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:12px;

.grid{display:grid;grid-template-columns:repeat(5,1fr);gap:10px}

.qbox{
 background:#1e3a8a;color:#fff;
 padding:15px;text-align:center;
 border-radius:8px;cursor:pointer
}
.qbox.done{background:#ccc;color:#000}

.section-box{
 padding:10px;font-weight:bold;
 border-radius:8px;margin-bottom:10px
}
.listening{background:#bfdbfe}
.reading{background:#bbf7d0}

#submitBtn{
 position:fixed;bottom:20px;right:20px;
 padding:15px 25px;background:#1e3a8a;
 color:#fff;border:none;border-radius:10px
}
